<!DOCTYPE html>
<html>
<head>
  <title>My Todo App</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <h1>Todo List</h1>
  <div class="add-new">
    <div>
      <a class="action-link" href="/todo/add-task">Add New Task</a>
      <a class="delete action-link logout" href="/">Logout</a>
    </div>
  </div>
  <table class="responstable">
    <tr>
      <th>Id</th>
      <th>Item</th>
      <th>Description</th>
      <th>Status</th>
      <th>Operations</th>
    </tr>
    <% todolist.forEach(function(todo, index) { %>
      <tr class="<%- todo.id %> todo-item">
        <td><%- todo.id %></td>
        <td><%- todo.title %></td>
        <td><%- todo.body %></td>
        <td><%- todo.status %></td>
        <td><a class="edit action-link" href="/todo/edit/<%- todo.id %>">Edit </a><a class="delete action-link" href="/todo/delete/<%- todo.id %>">Delete </a></td>
        <% }); %>
  </tr>
</table>
</body>
</html>
